<html>
    <head>
        <title>Chat Room</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>       
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <body>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

        <section id="hero">
            <div class="hero container">
                <div class="list">
                    <div class="elem">
                        <div class="score">Wynik</div>
                        <div class="date">Data</div>
                    </div>
                    {% for score in scores %}
                    <div class="elem">
                        <div class="score">{{score[0]}}</div>
                        <div class="date">{{score[1]}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    </body>

</html>